---
- name: Provision a set of instances
  ec2:
    #aws_access_key: "{{ec2_access_key}}"
    #aws_secret_key: "{{ec2_secret_key}}"
    region: "{{ aws_region }}"
    key_name: "{{ ec2_instance_key_name }}"
    group: "{{ ec2_instance_security_group }}"
    instance_type: "{{ ec2_instance_instance_type }}"
    image: "{{ ami_id }}"
    instance_profile_name: ecsInstanceRole
    exact_count: "{{ ecsInstancesCount }}"
    count_tag:
      cluster: "{{ ecs_cluster_name }}"
    instance_tags:
      cluster: "{{ ecs_cluster_name }}"
    # user_data: 'sudo sh -c "echo ECS_CLUSTER=cluster01 >> /etc/ecs/ecs.config"'
    wait: true
  register: ec2

# - name: Start instances
#   ec2:
#     region: "{{ aws_region }}"
#     instance_tags:
#       cluster: "{{ ecs_cluster_name }}"
#     state: running

- name: Wait for SSH to come up
  wait_for:
    host: "{{ item.public_dns_name }}"
    port: 22
    delay: no
    timeout: 320
    state: started
  with_items: "{{ ec2.instances }}"

# - name: Add all instance public IPs to host group
#   add_host: 
#     hostname: "{{ item.public_ip }}"
#     groups: ecsInstances
#   loop: "{{ ec2.instances }}"

# - name: Instances configuration play
#   hosts: ecsInstances
#   user: ec2-user
#   become: true
#   gather_facts: true

# - name: Upgrade all packages
#   yum:
#     name: '*'
#     state: latest
